* {
  user-select: none;
  -webkit-user-select: none; /* Für Safari */
  -moz-user-select: none; /* Für Firefox */
  -ms-user-select: none; /* Für Internet Explorer/Edge */
}

.maincontent {
  text-align: center;
  /* margin-top: 2%; */
}

.background img {
  width: 80%;
  user-select: none;
}

.benClickControls button {
  height: 40px;
  width: 100%;
}

.headerContainer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1px;
  margin-bottom: 15px;
}

#item1 {
  font-size: 20px;
}

#item2 {
  font-size: 12px;
}

.gameContainer {
  position: relative;
  /* width: 65%; */
  margin: auto;
  overflow: hidden;
}

#deleteButton {
  background-color: red;
  color: white;
}

.background img {
  width: 100%;
  height: 100%;
  display: block;
  user-select: none;
}

.figure {
  position: absolute;
  left: 50%;
  top: 75%;
  /* Optional: Größe anpassen */
  height: auto;
}

.figure img:hover {
  cursor: pointer;
}

.benFigure {
  max-width: 100%;
  user-select: none;
}

.phoneButton {
  width: 200px;
  height: 200px;
  border: none;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  margin-top: 20px;
}

#successText {
  color: green;
  font-size: 20px;
}

.holdButton {
  border: none;
  background-color: transparent;
}

.benClickControls {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.phoneButton img:hover {
  cursor: pointer;
}

.phoneButton img {
  width: 100%;
  user-select: none;
}

.showSkinsButton {
  margin-bottom: 15px;
}

@media only screen and (max-width: 600px) {
  .gameContainer {
    width: 100%;
  }

  .background img {
    /* width: 100vw; */
    height: 35vh;
    /* object-fit: cover; */
    /* display: block; */
    user-select: none;
  }

  /* .benFigure {
    height: 10% !important;
    display: block;
  } */

  .figure {
    width: 100%;
  }

  #item1 {
    font-size: 15px;
  }

  #item2 {
    font-size: 10px;
  }

  .headerContainer {
    margin-bottom: 5%;
  }

  .phoneButton {
    margin-top: 5%;
  }

  .controlButton {
    height: 50px;
    width: 60%;
    margin: auto;
  }

  .benClickControls {
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .controls {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .autoClickerSection,
  .multiplierSection {
    width: 50%;
  }

  .multiplierSection button,
  .autoClickerSection button {
    height: 50px !important;
    margin-bottom: 2px !important;
  }

  .statsWrapper {
    display: flex;
    flex-direction: column-reverse;
  }
}

.multiplierSection,
.autoClickerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.multiplierSection button,
.autoClickerSection button {
  width: 80%;
  height: 40px;
  margin-bottom: 2px;
}

@media only screen and (min-width: 601px) {
  .statsContainer,
  .skinContainer {
    width: 25%;
  }

  .currentSkin {
    margin-bottom: 10px;
  }

  .statsWrapper,
  .skinWrapper {
    width: 80%;
    margin: auto;
  }

  .gameContainerWrapper{
    width: 80%;
  }

  .gameContainer {
    margin-top: 4%;
  }

  /* .holdButton {
    margin-bottom: 25px;
  } */

  .benWrapper {
    display: flex;
  }

  
}
